{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "overrides": [
        {
            "files": ["*.ts", "*.tsx"],
            "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "plugin:prettier/recommended"],
            "parserOptions": {
                "project": ["./tsconfig.json"]
            }
        }
    ],
    "rules": {
        "prettier/prettier": "error",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/ban-ts-comment": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/ban-types": "off",
        "no-constant-condition": "off",
        "prefer-rest-params": "off"
    }
}
